.contacts__container {
    height: 80%;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(49, 49, 49);
    display: flex;
    position: relative;
    // overflow: hidden;

    .links {
        height: 50%;
        width: 80%;
        // background: red;
        display: flex;
        position: absolute;
        right: 0;
        padding: 10%;

        .cc_link {
            position: relative;
            height: 50px;
            width: 50px;
            text-decoration: none;
            font-size: 20px;
            margin: 10px;
            transform: rotate(40deg) skewX(-20deg);
            border-radius: 50px;
            box-shadow: 1px 2px 3px rgb(0, 0, 0);

            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 50px;
                width: 50px;
                text-decoration: none;
                margin: 25px;
                bottom: -50%;
                right: -50%;
                opacity: 0;
                border-radius: 50px;
            }

            &::before {
                transition: 200ms ease-in-out;

            }

            &::after {
                transition: 200ms ease-in-out 100ms;
            }

            &:nth-of-type(1) {

                background: url(/MUartist/sm/fb.png);
                background-size: cover;

                &:nth-of-type(1)::before {
                    background: url(/MUartist/sm/fb.png);
                    box-shadow: 0px 2px 10px rgb(23, 39, 75);
                    background-size: cover;
                }

                &:nth-of-type(1)::after {
                    background: url(/MUartist/sm/fb.png);
                    box-shadow: 0px 2px 10px rgb(23, 39, 75);
                    background-size: cover;
                }
            }

            &:nth-of-type(2) {

                background: url(/MUartist/sm/ig.png);
                background-size: cover;

                &:nth-of-type(2)::before {
                    background: url(/MUartist/sm/ig.png);
                    box-shadow: 0px 2px 10px rgb(94, 29, 3);
                    background-size: cover;
                }

                &:nth-of-type(2)::after {
                    background: url(/MUartist/sm/ig.png);
                    box-shadow: 0px 2px 10px rgb(94, 29, 3);
                    background-size: cover;
                }
            }

            &:nth-of-type(3) {

                background: url(/MUartist/sm/twt.png);
                background-size: cover;

                &:nth-of-type(3)::before {
                    background: url(/MUartist/sm/twt.png);
                    box-shadow: 0px 2px 10px rgb(3, 9, 94);
                    background-size: cover;
                }

                &:nth-of-type(3)::after {
                    background: url(/MUartist/sm/twt.png);
                    box-shadow: 0px 2px 10px rgb(5, 3, 94);
                    background-size: cover;
                }
            }

            &:nth-of-type(4) {

                background: url(/MUartist/sm/yt.png);
                background-size: cover;

                &:nth-of-type(4)::before {
                    background: url(/MUartist/sm/yt.png);
                    box-shadow: 0px 2px 10px rgb(94, 3, 3);
                    background-size: cover;
                }

                &:nth-of-type(4)::after {
                    background: url(/MUartist/sm/yt.png);
                    box-shadow: 0px 2px 10px rgb(94, 3, 3);
                    background-size: cover;
                }
            }

            &:hover {

                &::before {
                    bottom: -30%;
                    right: -30%;
                    transform: scale(.9);
                    opacity: 1;
                }

                &::after {
                    bottom: -10%;
                    right: -10%;
                    transform: scale(.8);
                    opacity: 1;
                }

            }
        }

    }
}