#design {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    // background: rgba(0, 0, 0, 0.438);

    ul {
        position: absolute;
        bottom: 15%;
        left: 15%;
        display: flex;
        list-style-type: none;
        z-index: 10000;

        li {
            background: rgb(61, 50, 36);
            margin: .5vw;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            box-shadow: 1px 1px 4px rgb(0, 0, 0);
            cursor: pointer;

            &:nth-of-type(1) {
                background: goldenrod;
            }
        }
    }

    .d_right {
        position: absolute;
        width: 35%;
        height: 3px;
        top: 10%;
        right: 0%;
        background: linear-gradient(to right, #333, #333, goldenrod, goldenrod, #333, #333, #333, #333);

    }

    .d_left {
        position: absolute;
        width: 3px;
        height: 100%;
        left: 5%;
        background: linear-gradient(#333, goldenrod, #333);

    }


    .d_mid {
        position: absolute;
        width: 1px;
        height: 85%;
        top: 5%;
        left: 35%;
        background: linear-gradient(goldenrod, #333, #333, #333, #333, #333, #333, goldenrod);
        box-shadow: inset 0 -25px 25px -25px black;
    }
}

.more {
    position: absolute;
    text-decoration: none;
    font-family: 'Sofia',
        cursive;
    border-bottom: dashed 1px rgb(122, 99, 41);
    border-radius: 40px 100px 0 0;
    color: goldenrod;
    padding: .25rem 15rem 0rem .5rem;
    bottom: 25%;
    right: 10%;
    // font-size: 1.3rem;
    font-size: clamp(1rem, 2vw, 2rem);
    font-style: italic;
    font-weight: 700;
    transition: 400ms ease-in;
    z-index: 3;
    cursor: pointer;
    animation: mores 2000ms infinite;

    &:hover {
        color: goldenrod;
        letter-spacing: 7px;
        padding: .25rem 0rem 0rem 10rem;
        border-bottom-style: solid;
        animation: none;
    }

    @keyframes mores {
        0% {
            color: goldenrod
        }

        40% {
            color: rgb(192, 192, 192);
        }

        100% {
            color: goldenrod
        }
    }

}