.works__container {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, rgb(32, 32, 32), #333, #333, #333, #333);
    position: relative;
    padding: 1%;
    display: flex;

    .w_carousel {
        width: 45%;
        height: 100%;
        position: relative;
        display: flex;
        // display: none;

        .wc_indicator {
            position: absolute;
            width: 20%;
            height: 100%;
            // background: blueviolet;
            display: grid;
            right: -20%;
            z-index: 100;
            overflow: hidden;

            .wci_btn {
                border: none;
                outline-width: 0;
                border-radius: 0px 5px 25px 0px;
                background-size: cover;
                opacity: .5;
                width: 20%;
                height: 70px;
                animation: btn 5000ms infinite;

                &:hover {
                    width: 100%;
                    height: 100px;
                    opacity: 1;
                    border-radius: 0px 5px 5px 0px;
                    transition: 300ms ease-in;
                    animation: none;
                }

                &:nth-of-type(1) {
                    background-image: url(/MUartist/art/clients/a.png);
                }

                &:nth-of-type(2) {
                    background-image: url(/MUartist/art/clients/b.png);
                }

                &:nth-of-type(3) {
                    background-image: url(/MUartist/art/clients/c.png);
                }

                &:nth-of-type(4) {
                    background-image: url(/MUartist/art/clients/e.png);
                }

                &:nth-of-type(5) {
                    background-image: url(/MUartist/art/clients/f.png);
                }

                &:nth-of-type(6) {
                    background-image: url(/MUartist/art/clients/g.png);
                }

                @keyframes btn {
                    50% {
                        transform: translateY(-20px);
                    }

                    100% {
                        transform: translateY(0px);
                    }
                }
            }
        }

        .wc_img {
            height: 100%;
            width: 0%;
            object-fit: cover;

            &:nth-of-type(1) {
                width: 100%;
            }

            // @keyframes change {
            //     to {
            //         width: 0%;
            //     }
            // }
        }
    }

    .w_information {
        width: 100%;
        height: 100%;
        padding: 10%;
        // background: rgb(252, 124, 124);
        position: relative;
        overflow: hidden;
        text-align: right;

        .fontbg {
            position: absolute;
            font-family: 'Sofia',
                cursive;
            width: 100%;
            height: 100%;
            font-size: 23rem;
            font-weight: 100;
            color: rgba(0, 0, 0, 0.11);
            font-style: italic;
            top: -19%;
            left: -10%;
            animation: move 100000ms infinite;

            @keyframes move {
                0% {
                    transform: translateX(0px)skewX(-30deg);
                }

                50% {
                    transform: translateX(250px)skewX(-30deg);
                }

                100% {
                    transform: translateX(0px)skewX(-30deg);
                }
            }

        }

        .title {
            font-family: 'Frank Ruhl Libre', serif;
            font-size: 3rem;
            font-weight: 700;
            position: relative;
            color: rgb(233, 233, 233);
            z-index: 1;
            line-height: 1.8;

            &::before {
                content: 'Frank Ruhl';
                position: absolute;
                width: 100%;
                height: 100%;
                top: -40%;
                color: rgba(133, 133, 133, 0.788);
                right: 20%;
                font-weight: 100;
                z-index: -1;
            }

            &::after {
                content: '';
                position: absolute;
                width: 80%;
                height: 1px;
                background: white;
                top: -30%;
                right: 30%;
            }
        }

        p {
            font-family: 'Frank Ruhl Libre', serif;
            color: rgb(221, 221, 221);
            line-height: 1;

            &::after {
                content: '';
                position: absolute;
                width: 25%;
                height: 5px;
                background: white;
                bottom: 5%;
                right: 6%;
            }
        }

    }

}