* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@import 'hero';
@import 'design';
@import 'works';
@import 'about';
@import 'contacts';

body {
    background: url(/images/bg.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

#hero {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10%;
    // display: none;

}


#works {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    padding: 10%;
    transform: translate(-150%, 0%);
    // display: none;
}

#about {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10%;
    transform: translate(0%, -150%);
    // display: none;

}

#contacts {
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 10%;
    transform: translate(0%, 100%);
    // display: none;



}


// @media (max-width:900px) {
//     #hero {
//         padding: 6%;

//         .hero__container {
//             width: 85%;

//             .hero_img {
//                 background-size: 60%;
//             }
//         }
//     }

// }

// @media (max-width:700px) {
//     #hero {
//         padding: 5%;

//         .hero__container {
//             width: 95%;

//             .hero_img {
//                 background-size: 60%;
//             }
//         }
//     }

// }