* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.hero_title,
.hero_desc,
.hero_translate {
  font-family: 'Sofia', cursive;
  position: absolute;
  z-index: 1;
  font-weight: 100;
  font-style: italic;
}

.hero_title {
  top: 17%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  font-size: clamp(6rem, 10.5vw, 10rem);
  background: -webkit-linear-gradient(goldenrod, #c28f0e, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.hero_translate {
  top: 43%;
  left: 27%;
  font-size: clamp(0.9rem, 1.5vw, 2rem);
  color: #333;
  z-index: 1;
}

.hero_translate::before {
  content: '';
  height: 5%;
  width: 130%;
  background: goldenrod;
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: -1;
}

.hero_desc {
  font-family: 'Frank Ruhl Libre', serif;
  color: rgba(218, 165, 32, 0.705);
  top: 20%;
  right: 1%;
  font-size: clamp(0.5rem, 1vw, 2rem);
  letter-spacing: 5px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
  font-weight: 700;
  font-style: normal;
}

.hero__container {
  background-size: cover;
  height: 100%;
  width: 60%;
  background: -webkit-gradient(linear, left top, left bottom, from(#cecdcd), to(#464646));
  background: linear-gradient(#cecdcd, #464646);
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(white));
  background: linear-gradient(#575757, white);
  position: relative;
  margin: auto;
  -webkit-box-shadow: inset 0px 2px 5px -2px black, 0px 2px 3px black;
          box-shadow: inset 0px 2px 5px -2px black, 0px 2px 3px black;
}

.hero__container .hero_img {
  background: url(images/hero.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: bottom center;
  -webkit-filter: drop-shadow(0px 0px 15px black);
          filter: drop-shadow(0px 0px 15px black);
  z-index: 2;
  background-size: 52%;
}

#design {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

#design ul {
  position: absolute;
  bottom: 15%;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  z-index: 10000;
}

#design ul li {
  background: #3d3224;
  margin: .5vw;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
  cursor: pointer;
}

#design ul li:nth-of-type(1) {
  background: goldenrod;
}

#design .d_right {
  position: absolute;
  width: 35%;
  height: 3px;
  top: 10%;
  right: 0%;
  background: -webkit-gradient(linear, left top, right top, from(#333), color-stop(#333), color-stop(goldenrod), color-stop(goldenrod), color-stop(#333), color-stop(#333), color-stop(#333), to(#333));
  background: linear-gradient(to right, #333, #333, goldenrod, goldenrod, #333, #333, #333, #333);
}

#design .d_left {
  position: absolute;
  width: 3px;
  height: 100%;
  left: 5%;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), color-stop(goldenrod), to(#333));
  background: linear-gradient(#333, goldenrod, #333);
}

#design .d_mid {
  position: absolute;
  width: 1px;
  height: 85%;
  top: 5%;
  left: 35%;
  background: -webkit-gradient(linear, left top, left bottom, from(goldenrod), color-stop(#333), color-stop(#333), color-stop(#333), color-stop(#333), color-stop(#333), color-stop(#333), to(goldenrod));
  background: linear-gradient(goldenrod, #333, #333, #333, #333, #333, #333, goldenrod);
  -webkit-box-shadow: inset 0 -25px 25px -25px black;
          box-shadow: inset 0 -25px 25px -25px black;
}

.more {
  position: absolute;
  text-decoration: none;
  font-family: 'Sofia', cursive;
  border-bottom: dashed 1px #7a6329;
  border-radius: 40px 100px 0 0;
  color: goldenrod;
  padding: .25rem 15rem 0rem .5rem;
  bottom: 25%;
  right: 10%;
  font-size: clamp(1rem, 2vw, 2rem);
  font-style: italic;
  font-weight: 700;
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
  z-index: 3;
  cursor: pointer;
  -webkit-animation: mores 2000ms infinite;
          animation: mores 2000ms infinite;
}

.more:hover {
  color: goldenrod;
  letter-spacing: 7px;
  padding: .25rem 0rem 0rem 10rem;
  border-bottom-style: solid;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes mores {
  0% {
    color: goldenrod;
  }
  40% {
    color: silver;
  }
  100% {
    color: goldenrod;
  }
}

@keyframes mores {
  0% {
    color: goldenrod;
  }
  40% {
    color: silver;
  }
  100% {
    color: goldenrod;
  }
}

.works__container {
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#202020), color-stop(#333), color-stop(#333), color-stop(#333), to(#333));
  background: linear-gradient(to right, #202020, #333, #333, #333, #333);
  position: relative;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__container .w_carousel {
  width: 45%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__container .w_carousel .wc_indicator {
  position: absolute;
  width: 20%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  right: -20%;
  z-index: 100;
  overflow: hidden;
}

.works__container .w_carousel .wc_indicator .wci_btn {
  border: none;
  outline-width: 0;
  border-radius: 5px;
  background-size: cover;
  width: 100%;
  height: 100px;
  -webkit-animation: btn 15000ms infinite;
          animation: btn 15000ms infinite;
}

.works__container .w_carousel .wc_indicator .wci_btn:hover {
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  width: 110%;
}

.works__container .w_carousel .wc_indicator .wci_btn:nth-of-type(1) {
  background-image: url(art/clients/a.png);
}

.works__container .w_carousel .wc_indicator .wci_btn:nth-of-type(2) {
  background-image: url(art/clients/b.png);
}

.works__container .w_carousel .wc_indicator .wci_btn:nth-of-type(3) {
  background-image: url(art/clients/c.png);
}

.works__container .w_carousel .wc_indicator .wci_btn:nth-of-type(4) {
  background-image: url(art/clients/e.png);
}

.works__container .w_carousel .wc_indicator .wci_btn:nth-of-type(5) {
  background-image: url(art/clients/f.png);
}

.works__container .w_carousel .wc_indicator .wci_btn:nth-of-type(6) {
  background-image: url(art/clients/g.png);
}

@-webkit-keyframes btn {
  50% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes btn {
  50% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.works__container .w_carousel .wc_img {
  height: 100%;
  width: 0%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__container .w_carousel .wc_img:nth-of-type(1) {
  width: 100%;
}

.works__container .w_information {
  width: 100%;
  height: 100%;
  padding: 10%;
  position: relative;
  overflow: hidden;
  text-align: right;
}

.works__container .w_information .fontbg {
  position: absolute;
  font-family: 'Sofia', cursive;
  width: 100%;
  height: 100%;
  font-size: 23rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.11);
  font-style: italic;
  top: -19%;
  left: -10%;
  -webkit-animation: move 100000ms infinite;
          animation: move 100000ms infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(-80px) skewX(-30deg);
            transform: translateX(-80px) skewX(-30deg);
  }
  50% {
    -webkit-transform: translateX(200px) skewX(-30deg);
            transform: translateX(200px) skewX(-30deg);
  }
  100% {
    -webkit-transform: translateX(-80px) skewX(-30deg);
            transform: translateX(-80px) skewX(-30deg);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(-80px) skewX(-30deg);
            transform: translateX(-80px) skewX(-30deg);
  }
  50% {
    -webkit-transform: translateX(200px) skewX(-30deg);
            transform: translateX(200px) skewX(-30deg);
  }
  100% {
    -webkit-transform: translateX(-80px) skewX(-30deg);
            transform: translateX(-80px) skewX(-30deg);
  }
}

.works__container .w_information .title {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  color: #e9e9e9;
  z-index: 1;
  line-height: 1.8;
}

.works__container .w_information .title::before {
  content: 'Frank Ruhl';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -40%;
  color: rgba(133, 133, 133, 0.788);
  right: 20%;
  font-weight: 100;
  z-index: -1;
}

.works__container .w_information .title::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  background: white;
  top: -30%;
  right: 25%;
}

.works__container .w_information p {
  font-family: 'Frank Ruhl Libre', serif;
  color: #dddddd;
  line-height: 1;
}

.works__container .w_information p::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 5px;
  background: white;
  bottom: 5%;
  right: 6%;
}

.about__container {
  height: 100%;
  width: 100%;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.about__container .ac_indicator {
  height: 190%;
  width: 7%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  left: 68%;
  -webkit-transform: translate(-68%, 0%) skewX(-13deg);
          transform: translate(-68%, 0%) skewX(-13deg);
  bottom: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 0px 18px black;
          box-shadow: 0px 0px 18px black;
}

.about__container .ac_indicator .aci_btn {
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  -webkit-animation: acibtn 40000ms infinite;
          animation: acibtn 40000ms infinite;
  border: none;
  outline-width: 0;
}

.about__container .ac_indicator .aci_btn:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.about__container .ac_indicator .aci_btn:nth-of-type(1) {
  background: url(art/artist/b1.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(2) {
  background: url(art/artist/b2.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(3) {
  background: url(art/artist/w1.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(4) {
  background: url(art/artist/w2.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(5) {
  background: url(art/artist/w3.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(6) {
  background: url(art/artist/w4.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(7) {
  background: url(art/artist/w5.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(8) {
  background: url(art/artist/w6.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(9) {
  background: url(art/artist/w7.jpg);
  background-size: cover;
}

.about__container .ac_indicator .aci_btn:nth-of-type(10) {
  background: url(art/artist/w8.jpg);
  background-size: cover;
}

@-webkit-keyframes acibtn {
  50% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes acibtn {
  50% {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.about__container .a_carousel {
  width: 40%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  padding: 10px;
}

.about__container .a_carousel .ac_img {
  height: 100%;
  width: 0%;
}

.about__container .a_carousel .ac_img:nth-of-type(1) {
  width: 100%;
}

.about__container .a_information {
  width: 60%;
  height: 100%;
  position: relative;
  padding: 7%;
  text-align: right;
}

.about__container .a_information .fontbg {
  position: absolute;
  font-family: 'Sofia', cursive;
  width: 100%;
  height: 100%;
  font-size: 23rem;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.11);
  font-style: italic;
  top: -19%;
  right: -10%;
  -webkit-animation: movess 200000ms infinite;
          animation: movess 200000ms infinite;
}

@-webkit-keyframes movess {
  0% {
    -webkit-transform: translateX(0px) skewX(-30deg);
            transform: translateX(0px) skewX(-30deg);
  }
  50% {
    -webkit-transform: translateX(-390px) skewX(-30deg);
            transform: translateX(-390px) skewX(-30deg);
  }
  100% {
    -webkit-transform: translateX(0px) skewX(-30deg);
            transform: translateX(0px) skewX(-30deg);
  }
}

@keyframes movess {
  0% {
    -webkit-transform: translateX(0px) skewX(-30deg);
            transform: translateX(0px) skewX(-30deg);
  }
  50% {
    -webkit-transform: translateX(-390px) skewX(-30deg);
            transform: translateX(-390px) skewX(-30deg);
  }
  100% {
    -webkit-transform: translateX(0px) skewX(-30deg);
            transform: translateX(0px) skewX(-30deg);
  }
}

.about__container .a_information .title {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  color: #e9e9e9;
  z-index: 1;
  line-height: 1.8;
}

.about__container .a_information .title::before {
  content: 'Frank Ruhl';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20%;
  color: rgba(133, 133, 133, 0.788);
  right: 30%;
  font-weight: 100;
  z-index: -1;
}

.about__container .a_information .title::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  background: white;
  top: -30%;
  right: 30%;
}

.about__container .a_information p {
  font-family: 'Frank Ruhl Libre', serif;
  color: #dddddd;
  line-height: 1;
}

.about__container .a_information p::after {
  content: '';
  position: absolute;
  width: 25%;
  height: 2px;
  background: white;
  bottom: 5%;
  left: 6%;
}

.contacts__container {
  height: 80%;
  width: 60%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 10px 10px 0 10px;
}

.contacts__container .links {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 10% 0 10%;
  z-index: 1;
}

.contacts__container .links::after {
  content: '';
  width: 40%;
  border: dashed .1px goldenrod;
  position: absolute;
  top: 90%;
  left: 9.5%;
  z-index: -1;
}

.contacts__container .links::before {
  content: '';
  width: 20%;
  height: .5px;
  background: goldenrod;
  position: absolute;
  top: 85%;
  right: 5%;
  z-index: -1;
}

.contacts__container .links .cc_link {
  position: relative;
  height: 50px;
  width: 50px;
  text-decoration: none;
  font-size: 20px;
  margin: 40% 10px 10px 10px;
  -webkit-transform: rotate(40deg) skewX(-20deg);
          transform: rotate(40deg) skewX(-20deg);
  border-radius: 50px;
  -webkit-box-shadow: 1px 2px 3px black;
          box-shadow: 1px 2px 3px black;
  z-index: 200;
}

.contacts__container .links .cc_link::before, .contacts__container .links .cc_link::after {
  content: '';
  position: absolute;
  height: 50px;
  width: 50px;
  text-decoration: none;
  margin: 25px;
  bottom: -50%;
  right: -50%;
  opacity: 0;
  border-radius: 50px;
}

.contacts__container .links .cc_link::before {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.contacts__container .links .cc_link::after {
  -webkit-transition: 200ms ease-in-out 100ms;
  transition: 200ms ease-in-out 100ms;
}

.contacts__container .links .cc_link:nth-of-type(1) {
  background: url(sm/fb.png);
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(1):nth-of-type(1)::before {
  background: url(sm/fb.png);
  -webkit-box-shadow: 0px 2px 10px #17274b;
          box-shadow: 0px 2px 10px #17274b;
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(1):nth-of-type(1)::after {
  background: url(sm/fb.png);
  -webkit-box-shadow: 0px 2px 10px #17274b;
          box-shadow: 0px 2px 10px #17274b;
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(2) {
  background: url(sm/ig.png);
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(2):nth-of-type(2)::before {
  background: url(sm/ig.png);
  -webkit-box-shadow: 0px 2px 10px #5e1d03;
          box-shadow: 0px 2px 10px #5e1d03;
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(2):nth-of-type(2)::after {
  background: url(sm/ig.png);
  -webkit-box-shadow: 0px 2px 10px #5e1d03;
          box-shadow: 0px 2px 10px #5e1d03;
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(3) {
  background: url(sm/twt.png);
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(3):nth-of-type(3)::before {
  background: url(sm/twt.png);
  -webkit-box-shadow: 0px 2px 10px #03095e;
          box-shadow: 0px 2px 10px #03095e;
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(3):nth-of-type(3)::after {
  background: url(sm/twt.png);
  -webkit-box-shadow: 0px 2px 10px #05035e;
          box-shadow: 0px 2px 10px #05035e;
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(4) {
  background: url(sm/yt.png);
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(4):nth-of-type(4)::before {
  background: url(sm/yt.png);
  -webkit-box-shadow: 0px 2px 10px #5e0303;
          box-shadow: 0px 2px 10px #5e0303;
  background-size: cover;
}

.contacts__container .links .cc_link:nth-of-type(4):nth-of-type(4)::after {
  background: url(sm/yt.png);
  -webkit-box-shadow: 0px 2px 10px #5e0303;
          box-shadow: 0px 2px 10px #5e0303;
  background-size: cover;
}

.contacts__container .links .cc_link:hover::before {
  bottom: -30%;
  right: -30%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 1;
}

.contacts__container .links .cc_link:hover::after {
  bottom: -10%;
  right: -10%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 1;
}

.contacts__container .svg {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0%;
  z-index: 1;
}

.contacts__container .cc_img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .7;
}

.contacts__container .cc_information {
  position: absolute;
  height: 80%;
  width: 97%;
  padding: 5%;
  text-align: right;
}

.contacts__container .cc_information .title {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  color: #e9e9e9;
  z-index: 1;
  line-height: 2;
  font-family: 'Frank Ruhl Libre', serif;
  text-shadow: 1px 1px 2px black;
}

.contacts__container .cc_information .title::before {
  content: 'Frank Ruhl';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20%;
  color: rgba(165, 165, 165, 0.507);
  right: 30%;
  font-weight: 100;
  z-index: -1;
}

.contacts__container .cc_information .description,
.contacts__container .cc_information .number {
  text-shadow: 1px 1px 2px black;
  font-family: 'Frank Ruhl Libre', serif;
  color: white;
}

body {
  background: url(images/bg.jpg);
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

#hero {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 10%;
}

#works {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  padding: 10%;
  -webkit-transform: translate(-150%, 0%);
          transform: translate(-150%, 0%);
}

#about {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 10%;
  -webkit-transform: translate(0%, -150%);
          transform: translate(0%, -150%);
}

#contacts {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 10%;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
}
/*# sourceMappingURL=styles.css.map */